.body-class {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    height: 100vh;
    margin: 0;
}

.caixa {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 180px;
    display: flex;
    flex-direction: column;
    height: 180px;
}

.data-hora {
    text-align: center;
    margin-bottom: 20px;
}

.data-hora p {
    font-size: 1.3rem;
    margin: 5px 0;
}

#btn-registrar-ponto {
    background-color: black;
    border: none;
    color: rgb(232, 232, 0);
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    width: 100%;
}

#btn-registrar-ponto:hover {
    background-color: #2f3c30;
}

dialog {
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    padding: 20px;
    background-color: #fff;
    text-align: center;
}

dialog p {
    margin: 10px 0;
    font-size: 1.2rem;
}

dialog select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
}

#btn-dialog-register {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
    transition: background-color 0.3s ease;
}

#btn-dialog-register:hover {
    background-color: #0056b3;
}

#fechar-dialog {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
}

#alerta-ponto-registrado {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border-radius: 5px;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: none;
}

#alerta-ponto-registrado.show {
    display: block;
}

.hidden {
    display: none;
}